.content-item .tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.tags span {
  padding: 5px 10px;
  font-size: 14px;
}
.tag-firebase {
  color: #FFA611;
  border: 1px solid #FFA611;
  background-color: rgba(255, 166, 17, 0.2);
  border-radius: 20px;
}
.tag-xstate {
  color: #aaa;
  border: 1px solid #aaa;
  background-color: rgba(150, 150, 150, 0.2);
  border-radius: 20px;
}
.tag-lit {
  color: #00FFFF;
  border: 1px solid #00FFFF;
  background-color: rgba(0, 255, 255, 0.2);
  border-radius: 20px;
}
.tag-chart {
  color: #FF6384;
  border: 1px solid #FF6384;
  background-color: rgba(255, 99, 132, 0.2);
  border-radius: 20px;
}
